{% extends 'partner/partner_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='ongoing.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-analytics.js"></script>
{% endblock %}

{% block body %}
<div class="list">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>Your checklist</h3>
                <div class="accepted-list">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Available Returns</h3>
                <div class="record-list">

                </div>
            </div>
            <div class="none-message-container"></div>
        </div>
    </div>
</div>
<script>
    // Initialize Cloud Firestore through Firebase
    firebase.initializeApp({
        apiKey: "AIzaSyBbazAhPXWwMql5isb1dva7q5nYHQjSrz8",
        authDomain: "returnmeds-bd71b.firebaseapp.com",
        projectId: "returnmeds-bd71b",
        storageBucket: "returnmeds-bd71b.appspot.com",
        messagingSenderId: "1001149789264",
        appId: "1:1001149789264:web:b4b69c1e1df95b3e0ecd55",
        measurementId: "G-MVES52LJ7Q"
    });
    firebase.analytics();
    var db = firebase.firestore();

    const collectorId = {{user.id}};

    $(document).ready(function () {
        db.collection("schedule").where("status", "==", "Pending").orderBy("time created", "desc")
            .onSnapshot(function (querySnapshot) {
                $('.record-list').html("");
                if (querySnapshot.empty) {
                    $('.record-list').append(`<p id="none-message">All clear!</p>`);
                } else {
                    querySnapshot.forEach(function (doc) {
                        var data = doc.data();
                        var query = data['address line 1'] + data['address line 2'] + data['postcode'] + data['state'];
                        query = query.replaceAll(/\s/g, "+").replaceAll(/,/g, "%2C");
                        console.log(query)
                        $('.record-list').append(
                            `<div class="card">
                            <div class="card-body">
                            <h5 class="card-title">${data['medicine name']}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i>${data['status']}</i></h6>
                            <p>Scheduled on: ${doc.id}</p>
                            <div class="hide-details" style="display: none;">
                                <p>Username: ${data['username']}</p>
                                <p>Address Line 1: ${data['address line 1']}</p>
                                <p>Address Line 2: ${data['address line 2']}</p>
                                <p>PostCode: ${data['postcode']}</p>
                                <p>State: ${data['state']}</p>
                                <div id="address-search">
                                    <a class="btn btn-light" target="_blank" href=https://www.google.com/maps/search/?api=1&query=${query}>Show in map</a>
                                </div>
                            </div>
                            <a href="#" class="card-link more-details" id="">More details</a>
                            <a onclick="updateDoc('${doc.id}', 'accept')" href="#" class="card-link" id="">Accept</a>
                            </div>
                        </div>`
                        );
                    });
                }
                console.log('refresh');
            });

        db.collection("schedule").where("status", "==", "Accepted").where("pic", "==", {{user.id}}).orderBy("time created", "desc")
        .onSnapshot(function (querySnapshot) {
            $('.accepted-list').html("");
            if (querySnapshot.empty) {
                $('.accepted-list').append(`<p id="none-message">All clear!</p>`);
            } else {
                querySnapshot.forEach(function (doc) {
                    var data = doc.data();
                    var query = data['address line 1'] + data['address line 2'] + data['postcode'] + data['state'];
                    query = query.replaceAll(/\s/g, "+").replaceAll(/,/g, "%2C");
                    $('.accepted-list').append(
                        `<div class="card">
                        <div class="card-body">
                        <h5 class="card-title">${data['medicine name']}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><i>${data['status']} by You</i></h6>
                        <p>Scheduled on: ${doc.id}</p>
                        <div class="hide-details" style="display: none;">
                            <p>Username: ${data['username']}</p>
                            <p>Address Line 1: ${data['address line 1']}</p>
                            <p>Address Line 2: ${data['address line 2']}</p>
                            <p>PostCode: ${data['postcode']}</p>
                            <p>State: ${data['state']}</p>
                            <div id="address-search">
                                <a class="btn btn-light" target="_blank" href=https://www.google.com/maps/search/?api=1&query=${query}>Show in map</a>
                            </div>
                        </div>
                        <a href="#" class="card-link more-details" id="">More details</a>
                        <a onclick="updateDoc('${doc.id}', 'complete')" href="#" class="card-link complete">Complete</a>
                        <a onclick="updateDoc('${doc.id}', 'reject')" href="#" class="card-link" id="">Reject</a>
                        </div>
                    </div>`
                    );
                });
            }
            console.log('refresh');
        });
        $('body').delegate('.more-details', 'click', function (e) {
            e.preventDefault();
            console.log('pressed');
            $(this).prev().toggle();
            if ($(this).prev().css('display') == 'none') {
                $(this).text("More Detail");
            } else {
                $(this).text("Less Detail");
            }
        });

    });
    function updateDoc(id, field) {
        console.log(id);
        if (field == 'complete') {
            var doc = db.collection("schedule").doc(`${id}`);
            doc.update({ 'status': 'Completed' }).then(function () {
                console.log("Update successful");
            });
            var email = "";
            doc.get().then(function (doc) {
                if (doc.exists) {
                    var url = "/partner-complete";
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: {
                            email: doc.data()['email'],
                            update: true
                        }
                    }).done(function (data) {
                        console.log(data.status);
                    });
                }

            });
            console.log(email);
        } else if (field == "accept") {
            var doc = db.collection("schedule").doc(`${id}`);
            doc.update({ 'status': 'Accepted', 'pic': collectorId}).then(function () {
                console.log("Update successful");
            });
        } else {
            var doc = db.collection("schedule").doc(`${id}`);
            doc.update({ 'status': 'Pending', 'pic': null}).then(function () {
                console.log("Update successful");
            });
        }


        return false;
    }


</script>
{% endblock %}