html, body {
    overflow: hidden;
}

body {
    background: rgb(204, 241, 189);
}

.title {
    font-family: 'Josefin Sans';
    font-size: 2rem;
}

.pills {
    filter: drop-shadow(-30px 0px 5px rgba(71, 70, 70, 0.37));
}
