{% extends 'base.html' %}
{% block head %}
    <script src="https://kit.fontawesome.com/7bbaff4086.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}
{% block body %}
<div class="container-fluid" style="text-align: center;">
    <div class="row">
        <div class="pills col m-5" style="font-size: 1.5rem;">
            <i class="fas fa-pills fa-10x"></i>
        </div>
    </div>
    <div class="row title">
        <div class="col">
            <span>Return your meds<br>Save the environment</span>
        </div>
    </div>
</div>
{% endblock %}